body{
    background-color: #f6f6f6;
}
.card{
    width: 450px;
    margin: 0 auto;
    border: 1px transparent;
   
}
.upPart{
    background-color: blue;
    color: white;
    padding: 20px 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
.downpart{
    box-shadow: 5px 5px 3px lightgray;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.downpart img{
    width: 65px;
     height: 60px;
    border-radius: 50%;

}
.downpart p{
    margin-top: 5px;
}
.downpart h3{
    margin-top: 4px;
    margin-bottom: 0px;
}
input{
    width: 300px;
    border-radius: 25px;
    padding: 10px 10px ;
    font-size: 20px;
    margin-left: 10px;
    border-color: transparent;
   color: white;
    background-color: rgb(41, 41, 193);
}
.profile{
    display:flex;
    border-bottom: 1px solid lightgray;
    padding: 20px 8px;
}
.letter{
    vertical-align:center;
    margin-left: 20px;
}
